@use './variables.scss' as *;
@use './mixins.scss' as *;

body {
    margin:0%;
    font-family: $font-regular;
}

@mixin header-footer-background {
	background-color: $primary-color__1;
}

@mixin typography__footer-contact {
	font-family: $font-regular;
	font-size: $subheader__mobile;
}

@mixin booking-links {
	font-family: $font-regular;
	font-size: $subheader__mobile;
	line-height: $line-height__footer-copy__mobile;
	margin-bottom: 48px;

	.booking-title {
		font-family: $font-regular;
		font-weight: $font-weight-demi;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@mixin footer__mobile {
	display: flex;
	flex-direction: column;
}

//font-types 

@font-face {
    font-family: AvenirNext;
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
    src: url(../assets/Font/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400;
} 

@font-face {
    font-family: AvenirNext;
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
    src: url(../assets/Font/AvenirNextLTProDemi.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: AvenirNext;
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
    src: url(../assets/Font/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700;
}

button {
	@include button;
}

footer {
	@include header-footer-background;
	color: white;

	p {
		color: white;
	}

	h2 {
		color: white;
	}
}