@use './variables.scss' as *;

//typography
@mixin typography__page-header {
	font-size: $page-header__mobile;
	font-family: $font-regular;
	font-weight: $font-weight-demi;
	line-height: $line-height__page-header__mobile;

	@include tablet {
		font-size: $text-size__page-header;
	}
}

@mixin typography__section-header {
	color: $primary-color__1;
	font-size: $text-size__section-header;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__section-header;
	padding-top: $section-header__padding-top;
	margin-bottom: $section-header__margin-bottom;
	margin-top: 0;

	@include tablet {
		font-weight: $font-weight-demi;
		margin-bottom: $section-header__margin-bottom-tablet;
		padding-top: $section-header__padding-top-tablet;
	}
}

@mixin typography__subheader {
	color: $primary-color__1;
	font-size: $text-size__subheader;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__sub-header;
}

@mixin typography__body-paragraph {
	font-family: $font-regular;
	color: $primary-color__1;
	font-size: $body-copy__mobile;
	line-height: 28.8px;
	padding: $between-components;
	margin: 0%;
}

@mixin typography__labels-buttons {
	color: $primary-color__1;
	font-size: $text-size__labels-buttons__mobile;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__sub-header;
}

@mixin typography-about__quote {
	font-family: $font-regular;
	font-size: $subheader__mobile;
	color: $primary-color__1;
	font-weight: $font-weight-demi;
	line-height: $line-height__body-copy__mobile;
	padding: $between-components;

	p {
		margin: 0%;
	}
}

@mixin field-form__label {
	font-size: $label;
	line-height: $label__line-height;
	font-weight: $font-weight-bold;
	color: $primary-color__2;
	p {
		margin:0rem;
	}
}

@mixin field-form__input {
	font-size: $body-copy__mobile;
	color: $secondary-color__1;
	background-color: $secondary-color__3;
	border: solid 1px $primary-color__2;
	border-radius: 10px;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin container-width {
	margin: 5%;
}

@mixin image__style {
	width: 100%;
}

//media queries 
@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1280px) {
		@content;
	}
}
