@use './variables.scss' as *;

//typography
@mixin typography__page-header {
	font-size: $page-header__mobile;
	font-family: $font-regular;
	font-weight: $font-weight-demi;
	line-height: $line-height__page-header__mobile;

	@include tablet {
		font-size: $text-size__page-header;
	}
}

@mixin typography__section-header {
	color: $primary-color__1;
	font-size: $text-size__section-header;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__section-header;
	padding-top: $section-header__padding-top;
	margin-bottom: $section-header__margin-bottom;
	margin-top: 0;

	@include tablet {
		font-weight: $font-weight-demi;
		margin-bottom: $section-header__margin-bottom-tablet;
		padding-top: $section-header__padding-top-tablet;
	}
}

@mixin typography__subheader {
	color: $primary-color__1;
	font-size: $text-size__subheader;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__sub-header;
}

@mixin typography__body-paragraph {
	font-family: $font-regular;
	color: $primary-color__1;
	font-size: $body-copy__mobile;
	line-height: 28.8px;
	padding: $between-components;
	margin: 0%;
}

@mixin typography__labels-buttons {
	color: $primary-color__1;
	font-size: $text-size__labels-buttons__mobile;
	font-weight: $font-weight-demi;
	font-family: $font-regular;
	line-height: $line-height__sub-header;
}

@mixin typography-about__quote {
	font-family: $font-regular;
	font-size: $subheader__mobile;
	color: $primary-color__1;
	font-weight: $font-weight-demi;
	line-height: $line-height__body-copy__mobile;
	padding: $between-components;

	p {
		margin: 0%;
	}
}

@mixin field-form__label {
	font-size: $label;
	line-height: $label__line-height;
	font-weight: $font-weight-bold;
	color: $primary-color__2;
	p {
		margin:0rem;
	}
}

@mixin field-form__input {
	font-size: $body-copy__mobile;
	color: $secondary-color__1;
	background-color: $secondary-color__3;
	border: solid 1px $primary-color__2;
	border-radius: 10px;
	font-family: $font-regular;
}

/* flexbox dimensions */ 

@mixin flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

@mixin row_flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

@mixin row-spacebetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin row-spacearound {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin row-align_center-justify_spacearound {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin row-spaceevenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin column-align_center-justify_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin row-wrap_align-spacebetween {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: space-between;

}

@mixin justify_flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

@mixin align_flex-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
@mixin justify_left {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

@mixin center-center {

	display: flex;
	justify-content: center;
	align-items: center;

}

//


@mixin container-width {
	margin: 5%;
}

@mixin image__style {
	width: 100%;
}

//media queries 
@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1280px) {
		@content;
	}
}
