    //BandSite logo styling 

@mixin BandSite-logo-styling{
    background-color: $BandSite-logo__background;
    color: $BandSite-logo__text;
    max-width: $BandSite-logo__max-width;
    max-height: $BandSite-logo__max-height;
    font-weight: 400;
    font-size: 1.5rem;
}

    //hero image styling 

@mixin hero-style{
    background-color: $overlay__hero;
    width:100%;

}

    //link styling across various states 

@mixin active-link{
    color:$active-link__color;
    font-weight: $active-link__weight;
    text-decoration: underline;
    text-decoration-color: $active-link__color;
    text-decoration-thickness: 400;

    
}
    
@mixin inactive-link{
    color:$inactive-link__color;
    font-weight: $inactive-link__weight;
    text-decoration: underline;
    text-decoration-color: $active-link__color;
}
    
@mixin hover-link{
    color: $hover-link__color;
    font-weight: $hover-link__weight;
    text-decoration: underline;
    text-decoration-color: $hover-link__color;
}
    
    //typography 

@mixin typography__page-header {
    color: $primary-color__1;
    font-size: $text-size__page-header;
    font-weight: $font-weight__page-section-header;
    font-family: avenir;
    line-height: $line-height__page-header;
}

@mixin typography__section-header {
    color: $primary-color__1;
    font-size: $text-size__section-header;
    font-weight:$font-weight__page-section-header;
    font-family: avenir;
    line-height: $line-height__section-header;
}

@mixin typography__subheader {
    color: $primary-color__1;
    font-size: $text-size__subheader;
    font-weight: $font-weight__subheader;
    font-family: avenir;
    line-height: $line-height__sub-header;
}

@mixin typography__body-copy {
    color: $primary-color__1;
    font-size: $text-size__body-copy;
    font-weight: $font-weight__body-footer;
    font-family:avenir;
    line-height:$line-height__body-copy; 
}

@mixin typography__footer-copy {
    color:$primary-color__2;
    font-size: $text-size__footer-copy;
    font-weight: $font-weight__body-footer;
    font-family: avenir;
    line-height: $line-height__footer-copy;
}

@mixin typography__labels-buttons {
    color: $primary-color__2;
    font-size: $text-size__labels-buttons;
    font-weight: $font-weight__labels-buttons;
    font-family: avenir;
    line-height: $line-height__labels-buttons; 
}

    //cta button styling across various states 

@mixin cta__desktop-tablet{
    height: $CTA-height;
    min-width: $CTA-min-width__desktop-tablet;
    padding: $CTA-min-padding__desktop-tablet;
    border-radius: $CTA-radius;

}

@mixin cta__mobile {
    height:$CTA-height;
    width:$CTA-width__mobile;
    border-radius: $CTA-radius;
}

@mixin cta-default{
    background: $CTA-default__background;
    color: $CTA-default__text;
}

@mixin cta-hover{
    $CTA-hover__background: $secondary-color__1;
    $CTA-hover__text:$CTA-default__text;
}

    //avatar styling 

@mixin avatar-style {
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__desktop-tablet-max-width-height;
    max-height: $avatar__desktop-tablet-max-width-height;
}

@mixin avatar-style__mobile {
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__mobile-max-width-height;
    max-height: $avatar__mobile-max-width-height;
}
    
@mixin avatar-placeholder{
    background-color: $primary-color__2;
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__desktop-tablet-max-width-height;
    max-height: $avatar__desktop-tablet-max-width-height;

}

@mixin avatar-placeholder__mobile{
    background-color: $primary-color__2;
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__mobile-max-width-height;
    max-height: $avatar__mobile-max-width-height;
}

    //table styling across various states 

@mixin default-table {
    padding: $default-table-row__desktop-tablet;
    background-color: $primary-color__3;
}

@mixin default-table__mobile{
    padding: $default-table-row__mobile;
    background-color: $primary-color__3;
}

@mixin selected-table {
    background-color: $table-row-selected;

}

@mixin hover-table {
    background-color: $table-row-hover;
}

    //field forms 
@mixin default-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;


}

@mixin filled-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;
    
}

@mixin active-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__active;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;
}

@mixin error-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__error;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;
}

@mixin default-field-form__mobile {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}

@mixin filled-field-form__mobile {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
    
}

@mixin active-field-form {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__active;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}

@mixin error-field-form {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__error;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}


    //display properties 
@mixin navigation__desktop-tablet {
    display: flex;
    flex-direction: row;
}
@mixin navigation__mobile {
    display: flex;
    flex-direction: column;
}

@mixin footer__desktop-tablet {
    display: flex;
    flex-direction: column;
}

@mixin footer__navigation {
    display: flex;
    flex-direction: column;
}

    //divider(s)
@mixin divider-style {
    stroke-width: .0625rem;
    color: $secondary-color__2;
}

    //padding 
@mixin headline-padding {
    padding: 3rem 1rem 2.25rem 1rem;
}

@mixin headline-padding__mobile {
    padding: 1.5rem 1rem 1rem 1rem;
}




