@use './partials/global.scss' as *;
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

.about__quote {
	@include typography-about__quote;
}

.about__intro {
	@include typography__body-paragraph;
}

.image__style {
	@include image__style;
}

.gallery {
	background-color: $secondary-color__3;
}

.gallery__photos {
	@include row-wrap_align-spacebetween;
	gap: 16px;

	@include tablet {
		gap: 32px;
	}
    

	.image__style {
		@include tablet {
			width: calc(33% - (2rem * 2/3));
		}
        filter:grayscale(100%);

	}
    .image__style:hover {
        filter: grayscale(0%);
    }

}

.intro-paragraph {
	@include flex-wrap;
	gap: 2rem;

	p {
		width: 100%;

		@include tablet {
			width: calc(50% - 2rem/2);
		}
	}
}

.about-container__content {
	width: 100%;
	margin: auto;

	@include tablet {
		width: 80%;
	}
}

.comments {
	h2 {
		padding-top:0%;
		margin-top: 24px;
	}
}

.new-comment {
	@include justify_left;
	gap: 1rem;
	border-bottom: solid 1px $secondary-color__2;
	margin-top: 0px;
	padding-bottom: 1px;
	@include tablet {
		width: 75%;
    	margin: auto;
	}
	@include desktop {
		width: 50%;
	}
}

.new-comment__container {
    @include flex-column;
    width: 100%;
}

.new-comment__button {
	@include justify_flex-end;
	margin: 1rem 0;
}

.form-field__name {
	@include field-form__label;
	margin-top:0%;
}

.name__input {
	@include field-form__input;
	padding: 10px;
}

.form-field__comment {
	@include field-form__label;
	padding: $between-components;
}

.comment__input {
	@include field-form__input;
	resize: none;
	padding:9px;

}

.avatar {
	min-height: 3rem;
	min-width:3rem;
	width:3rem;
	height:3rem;
	border-radius: 50%;
	margin: $between-components;
}

.comment-card__container {
	@include row-spacebetween;
	gap: 1rem;
	border-bottom: solid 1px $secondary-color__2;
	margin-top: 28px;
	padding-bottom: 1rem;
	margin: 1rem auto;
	@include tablet {
		width: 75%;
	}
	@include desktop {
		width: 50%;
	}
}

.avatar-placeholder {
	min-height: 3rem;
	min-width: 3rem;
	width:3rem;
	height: 3rem;
	background-color: $secondary-color__2;
	border-radius: 50%;
}

.name__timestamp {
	@include row-spacebetween;
	gap: 2rem;
	padding: 0;

	h4 {
		margin:0%;
	}
	p {
		text-align: left;
		margin: 0%;
		padding: 0;
		color: $primary-color__2;
	}

	.comment-name {
		font-weight: $font-weight-bold;
		color: $primary-color__1;
	}
}

.comment-card__text {
	@include flex-column;
	width: 100%;
}

.comment-card__delete-button-container {

	@include row_flex-end;
	
}


.cover-container__bio {
	background-image: url(../assets/Images/hero-bio.jpg);
}