@use './partials/mixins.scss' as *;
@use './partials/variables.scss' as *;
@use './partials/global.scss' as *;


.header {

    @include header-footer-background;
    @include header;
}

.logo {
    @include logo;
}

nav {
    @include navigation__mobile;
    @include typography__nav;
}

.cover__container {
    @include hero-background;

}
 
.overlay {
    @include overlay;  
    margin-top: 0%;
}

.about__container {
    @include container-width;
    margin-top:0%;
}

.about__title {
    @include typography-about__title;
}

.about__quote {
    @include typography-about__quote;

}

.intro-title {
    @include typography__intro-title;
}

.intro-body {
    @include typography__intro-body;
}
.image__style {
    @include image__style;
}

.gallery {
    @include gallery;

}

.gallery__content {
    @include container-width;
}

.gallery__photos {
    @include gallery__photos;
}

.footer-style {
    @include header-footer-background;
}

.contact {
    @include typography__footer-contact;
    @include contact;
}

.booking-links {
    @include booking-links;
}

.footer-end {
    p {
        font-size:0.8rem;
        margin:0%;
        padding: $between-components;
    }
}

footer {
    
    margin:0% 5% 5% 5%;
    padding: 0% 0% 5% 0%;
    @include header-footer-background;
    color: white;
        .logo {
           @include logo;
        }
}
