@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
body {
  margin: 0%;
  font-family: "AvenirNext";
}

p {
  font-family: "AvenirNext";
  color: #323232;
  font-size: 1rem;
  line-height: 28.8px;
  padding: 1rem 0rem 0rem 0rem;
  margin: 0%;
}

h1 {
  font-size: 2rem;
  font-family: "AvenirNext";
  font-weight: 600;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  color: #323232;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: "AvenirNext";
  line-height: 2.75rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    padding-top: 3rem;
  }
}

h3 {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "AvenirNext";
  line-height: 1.5rem;
}

header {
  background-color: #323232;
}

.header.section-content {
  padding-bottom: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header .logo {
    padding: 0% 5%;
  }
  .header nav {
    justify-content: left;
    gap: 1rem;
  }
  .header nav a {
    padding: 4% 0%;
    width: initial;
  }
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 1px #000000;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  button {
    width: initial;
    margin: initial;
  }
}

footer {
  background-color: #323232;
  color: white;
}
footer p {
  color: white;
}
footer h2 {
  color: white;
}

.footer {
  background-color: #323232;
}

.contact {
  font-family: "AvenirNext";
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}
.contact .footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 16px;
}
.contact .footer__socials .icons {
  width: 32px;
  height: 32px;
  margin: 16px 0;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.footer__links {
  font-family: "AvenirNext";
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 48px;
}
.footer__links .booking-title {
  font-family: "AvenirNext";
  font-weight: 600;
}
.footer__links a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    gap: 2rem;
  }
}

header .section-content, section .section-content, footer .section-content {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  header .section-content, section .section-content, footer .section-content {
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  header .section-content, section .section-content, footer .section-content {
    margin: auto;
    max-width: 64rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__start .logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__start .logo {
    display: block;
  }
}

.footer__end p {
  font-size: 0.8rem;
  margin: 0%;
  padding: 1rem 0rem 0rem 0rem;
}
.footer__end .logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__end .logo {
    display: none;
  }
}

input::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
}

input::placeholder {
  color: #000000;
  font-family: "AvenirNext";
}

textarea::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  text-align: left;
  padding: 0%;
}

textarea::placeholder {
  color: #000000;
  font-family: "AvenirNext";
  text-align: left;
  padding: 0%;
}

.dp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  width: 100%;
  padding: 1rem 0;
}
.logo img {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  width: 100%;
  color: #e1e1e1;
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 2rem;
}
nav .navigation__link--active {
  color: #ffffff;
  font-family: "AvenirNext";
  box-sizing: border-box;
  border-bottom: solid 0.1875rem #ffffff;
  width: 100%;
}
nav .navigation__link {
  text-align: center;
  width: 100%;
  padding-bottom: 2%;
  margin: 0%;
  color: #e1e1e1;
  font-family: "AvenirNext";
  text-decoration: none;
  width: 100%;
}
nav .navigation__link:active,
nav .navigation__link:hover {
  color: #ffffff;
  border-bottom: solid 0.1875rem #ffffff;
}

.cover-container {
  background-size: cover;
}

.cover-container__overlay {
  background-color: rgba(80, 50, 50, 0.5);
  color: #ffffff;
  padding: 18% 5%;
  margin-top: 0%;
}

.about__quote {
  font-family: "AvenirNext";
  font-size: 1.1rem;
  color: #323232;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 0rem 0rem 0rem;
}
.about__quote p {
  margin: 0%;
}

.about__intro {
  font-family: "AvenirNext";
  color: #323232;
  font-size: 1rem;
  line-height: 28.8px;
  padding: 1rem 0rem 0rem 0rem;
  margin: 0%;
}

.image__style {
  width: 100%;
}

.gallery {
  background-color: #fafafa;
}

.gallery__photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    gap: 32px;
  }
}
.gallery__photos .image__style {
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .gallery__photos .image__style {
    width: calc(33% - 1.3333333333rem);
  }
}
.gallery__photos .image__style:hover {
  filter: grayscale(0%);
}

.intro-paragraph {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.intro-paragraph p {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .intro-paragraph p {
    width: calc(50% - 1rem);
  }
}

.about-container__content {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .about-container__content {
    width: 80%;
  }
}

.comments h2 {
  padding-top: 0%;
  margin-top: 24px;
}

.new-comment {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  border-bottom: solid 1px #e1e1e1;
  margin-top: 0px;
  padding-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .new-comment {
    width: 75%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .new-comment {
    width: 50%;
  }
}

.new-comment__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-comment__button {
  display: flex;
  justify-content: end;
  margin: 1rem 0;
}

.form-field__name {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  margin-top: 0%;
}
.form-field__name p {
  margin: 0rem;
}

.name__input {
  font-size: 1rem;
  color: #000000;
  background-color: #fafafa;
  border: solid 1px #afafaf;
  border-radius: 10px;
  padding: 10px;
}

.form-field__comment {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  padding: 1rem 0rem 0rem 0rem;
}
.form-field__comment p {
  margin: 0rem;
}

.comment__input {
  font-size: 1rem;
  color: #000000;
  background-color: #fafafa;
  border: solid 1px #afafaf;
  border-radius: 10px;
  resize: none;
  padding: 9px;
  font-family: "AvenirNext";
}

.avatar {
  min-height: 3rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1rem 0rem 0rem 0rem;
}

.comment-card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: solid 1px #e1e1e1;
  margin-top: 28px;
  padding-bottom: 1rem;
  margin: 1rem auto;
}
@media screen and (min-width: 768px) {
  .comment-card__container {
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .comment-card__container {
    width: 50%;
  }
}

.avatar-placeholder {
  min-height: 3rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.name__timestamp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0;
}
.name__timestamp h4 {
  margin: 0%;
}
.name__timestamp p {
  text-align: left;
  margin: 0%;
  padding: 0;
  color: #afafaf;
}
.name__timestamp .comment-name {
  font-weight: 700;
  color: #323232;
}

.comment-card__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-card__delete-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cover-container--bio {
  background-image: url(../assets/Images/hero-bio.jpg);
}/*# sourceMappingURL=bio.css.map */