/* flexbox dimensions */
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../assets/Font/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
body {
  margin: 0%;
  font-family: "AvenirNext";
}

p {
  font-family: "AvenirNext";
  color: #323232;
  font-size: 1rem;
  line-height: 28.8px;
  padding: 1rem 0rem 0rem 0rem;
  margin: 0%;
}

h1 {
  font-size: 2rem;
  font-family: "AvenirNext";
  font-weight: 600;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  color: #323232;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: "AvenirNext";
  line-height: 2.75rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    padding-top: 3rem;
  }
}

h3 {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "AvenirNext";
  line-height: 1.5rem;
}

header {
  background-color: #323232;
}

.header.section-content {
  padding-bottom: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header .logo {
    padding: 0% 5%;
  }
  .header nav {
    justify-content: left;
    gap: 1rem;
  }
  .header nav a {
    padding: 4% 0%;
    width: initial;
  }
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 1px #000000;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  button {
    width: initial;
    margin: initial;
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
}
footer p {
  color: #ffffff;
}
footer h2 {
  color: #ffffff;
}

.footer {
  background-color: #323232;
}

.contact {
  font-family: "AvenirNext";
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h1 {
  padding: 0%;
}
.contact .footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 16px;
}
.contact .footer__socials .icons {
  width: 32px;
  height: 32px;
  margin: 16px 0;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}

.footer__links {
  font-family: "AvenirNext";
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 48px;
}
.footer__links .booking-title {
  font-family: "AvenirNext";
  font-weight: 600;
}
.footer__links a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    gap: 2rem;
  }
}

header .section-content, section .section-content, footer .section-content {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  header .section-content, section .section-content, footer .section-content {
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  header .section-content, section .section-content, footer .section-content {
    margin: auto;
    max-width: 64rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__start .logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__start .logo {
    display: block;
  }
}

.footer__end p {
  font-size: 0.8rem;
  margin: 0%;
  padding: 1rem 0rem 0rem 0rem;
}
.footer__end .logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__end .logo {
    display: none;
  }
}

input::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
}

input::placeholder {
  color: #000000;
  font-family: "AvenirNext";
}

textarea::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  text-align: left;
  padding: 0%;
}

textarea::placeholder {
  color: #000000;
  font-family: "AvenirNext";
  text-align: left;
  padding: 0%;
}

.logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  width: 100%;
  padding: 1rem 0;
}
.logo img {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  width: 100%;
  color: #e1e1e1;
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 2rem;
}
nav .navigation__link--active {
  color: #ffffff;
  font-family: "AvenirNext";
  box-sizing: border-box;
  border-bottom: solid 0.1875rem #ffffff;
  width: 100%;
}
nav .navigation__link {
  text-align: center;
  width: 100%;
  padding-bottom: 2%;
  margin: 0%;
  color: #e1e1e1;
  font-family: "AvenirNext";
  text-decoration: none;
  width: 100%;
}
nav .navigation__link:active,
nav .navigation__link:hover {
  color: #ffffff;
  border-bottom: solid 0.1875rem #ffffff;
}

.cover-container {
  background-size: cover;
}

.cover-container__overlay {
  background-color: rgba(80, 50, 50, 0.5);
  color: #ffffff;
  padding: 18% 5%;
  margin-top: 0%;
}

.soundcloud {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .soundcloud {
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .soundcloud {
    width: 45%;
    max-width: 45%;
    padding-left: 5%;
  }
}

.show-label {
  color: #323232;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "AvenirNext";
  line-height: 1.5rem;
  color: #afafaf;
}

.show-date {
  font-weight: 600;
}

.show-value {
  padding-top: 0;
}

.shows__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shows__header-container h2 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__header-container h2 {
    width: 20%;
  }
}

.shows-container {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 0;
}

.show-item {
  border-bottom: solid 1px #e1e1e1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .show-item {
    padding: 1rem;
    display: flex;
    width: calc(80% - 2rem);
  }
}

.show-item:hover {
  background-color: #fafafa;
}

.show-item.show-item__selected {
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .show-item div {
    width: 25%;
  }
}

.show-table-header {
  padding: 1rem;
  width: 80%;
}

.show-table-header .show-label {
  width: 25%;
}

.show-table-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .show-table-header {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .show-item .show-label {
    display: none;
  }
}

.cover-container--shows {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
}

.cover-container__text {
  width: 50%;
}
.cover-container__text h2 {
  color: #ffffff;
}
.cover-container__text h1 {
  line-height: 1em;
}

.cover-container__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}/*# sourceMappingURL=shows.css.map */