@use './partials/global' as *;
@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

.soundcloud {
	width: 100%;
	@include tablet {
		width: 75%;
	}

	@include desktop {
		width: 45%;
		max-width: 45%;
		padding-left: 5%;
	}
}

.show-label {
	@include typography__labels-buttons;
	color: $primary-color__2;
}

.show-date {
	font-weight: $font-weight-demi;
}

.show-value {
	padding-top: 0;
}

.shows__header-container {
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		width: 100%;
		@include tablet {
			width: 20%;
		}
	}
}

.shows-container {
	display: flex;
	align-items: end;
    flex-direction: column;
	padding: 0;
}

.show-item {
	border-bottom: solid 1px $secondary-color__2;
	width: 100%;
	@include tablet {
		padding: 1rem;
		display: flex;
		width: calc(80% - 2rem);
	}
}

.show-item:hover {
	background-color: $secondary-color__3;
}

.show-item.show-item__selected {
	background-color: $secondary-color__2;
}

.show-item div {
	@include tablet {
		width: 25%;
	}
}

.show-table-header {
	padding: 1rem;
	width: 80%;
}

.show-table-header .show-label {
	width: 25%;
}

.show-table-header {
	display: none;

	@include tablet {
		display: flex;
	}
}

.show-item .show-label {
	@include tablet {
		display: none;
	}
}

.cover-container--shows {
	background-image: url(../assets/Images/hero-shows.jpg);
	background-size: cover;
}

.cover-container__text {
	h2 {
		color:$primary-color__3;
	}
	h1 {
		line-height: 1em;
	}
	width: 50%;
}

.cover-container__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}