body {
  margin: 0%;
  font-family: "AvenirNext";
}

@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  src: url(../assets/Font/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(../assets/Font/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: AvenirNext;
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(../assets/Font/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
/*

<div class="new-comment__container">
<div class="avatar">
</div>
<div class="new-comment">
   <div class="form-field__name">
	  <p>NAME</p>
		 <div class="name__input">
		 <p>Enter your name</p>
		 </div>
   </div>
   <div class=form-field__comment>
	  <p>COMMENT</p>
		 <div class="comment__input">
		 <p>Add your comment</p>
		 </div>
   </div>
</div>
</div> */
/*
@mixin cta__desktop-tablet{
    height: $CTA-height;
    min-width: $CTA-min-width__desktop-tablet;
    padding: $CTA-min-padding__desktop-tablet;
    border-radius: $CTA-radius;

}

@mixin cta__mobile {
    height:$CTA-height;
    width:$CTA-width__mobile;
    border-radius: $CTA-radius;
}

@mixin cta-default{
    background: $CTA-default__background;
    color: $CTA-default__text;
}

@mixin cta-hover{
    $CTA-hover__background: $secondary-color__1;
    $CTA-hover__text:$CTA-default__text;
}

    //avatar styling 

@mixin avatar-style {
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__desktop-tablet-max-width-height;
    max-height: $avatar__desktop-tablet-max-width-height;
}

@mixin avatar-style__mobile {
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__mobile-max-width-height;
    max-height: $avatar__mobile-max-width-height;
}

@mixin avatar-placeholder{
    background-color: $primary-color__2;
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__desktop-tablet-max-width-height;
    max-height: $avatar__desktop-tablet-max-width-height;

}

@mixin avatar-placeholder__mobile{
    background-color: $primary-color__2;
    box-sizing: border-box;
    border-radius: $avatar-border-radius;
    max-width: $avatar__mobile-max-width-height;
    max-height: $avatar__mobile-max-width-height;
}

    //table styling across various states 


@mixin default-table {
    padding: $default-table-row__desktop-tablet;
    background-color: $primary-color__3;
}

@mixin default-table__mobile{
    padding: $default-table-row__mobile;
    background-color: $primary-color__3;
}

@mixin selected-table {
    background-color: $table-row-selected;

}

@mixin hover-table {
    background-color: $table-row-hover;
}

    //field forms 
@mixin default-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;


}

@mixin filled-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;

}

@mixin active-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__active;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;
}

@mixin error-field-form {
    height: $form-field-height__desktop-tablet;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__error;
    width: $form-field-width;
    padding: $form-field-padding__desktop-tablet;
}

@mixin default-field-form__mobile {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}

@mixin filled-field-form__mobile {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__default;
    width: $form-field-width;
    padding: $form-field-padding__mobile;

}

@mixin active-field-form {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__active;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}

@mixin error-field-form {
    height: $form-field-height__mobile;
    background-color: $primary-color__3;
    color: $secondary-color__1;
    border-radius: $form-field-radius;
    border-color: $form-field-border__error;
    width: $form-field-width;
    padding: $form-field-padding__mobile;
}
*//*# sourceMappingURL=shows.css.map */